<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tmsivgenv">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TMSIvgenV">
        <activity android:name="kotlinTMS.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="kotlinTMS.dz1.Dz1Activity"/>
        <activity android:name="kotlinTMS.dz2.Dz2Activity"/>
        <activity android:name="kotlinTMS.dz3.Dz3Activity"/>
        <activity android:name="kotlinTMS.dz4.Dz4Activity"/>
        <activity android:name="kotlinTMS.dz5.Dz5Activity"/>
        <activity android:name="kotlinTMS.dz6.view.Dz6Activity"/>
        <activity android:name="kotlinTMS.dz8.view.Dz8Activity"/>
    </application>

</manifest>